

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .container {
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .settings {
    padding: 20px;
    background: #f2f3f4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container h1 {
    color: #007bff;
    margin-left: 30px;
  }
  
  .container h4 {
    color: #1f60a6;
    margin-bottom: -0.5px;
  }
  
  .container label {
    font-size: small;
    color: rgb(24, 24, 23);
  }
  
  .container input,
  .container select {
    color: #007bff;
  }
  
  .settings button {
    margin-left: 120px;
    margin-top: 10px;
    border-color: #1f60a6;
    border-radius: 8px;
  }
  
  .settings button:hover {
    background-color: #1f60a6;
    color: #f2f3f4;
  }
  
  .delete-button {
    margin-top: 30px;
    padding: 10px 20px;
    border: 1px solid #1f60a6;
    border-radius: 8px;
    background-color: white;
    color: #1f60a6;
    cursor: pointer;
    align-self: center;
  }
  
  .delete-button:hover {
    background-color: #1f60a6;
    color: #f2f3f4;
  }
  